<!DOCTYPE html>
<html>
    <head>
        <title>TIL: </title>
        <script async 
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4627844420729409"
            crossorigin="anonymous">
        </script>
        <link rel="icon" href="../../tbicon.png" type="image/png">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EET2ZX4QY1"></script>
    </head>
    <body>
        <h1>TIL: </h1>
        <div class="post-meta">
            <time datetime="{{ .Post.Frontmatter.Date }}">{{ .Post.Frontmatter.Date }}</time>
        </div>
        <div class="post-meta">
            {{ range .Post.Frontmatter.Tags }}
                <a href="/tags/{{ . }}">#{{ . }}</a>
            {{ end }}
        </div>
        <div class="post-meta">
            <a href="/{{ .Post.Frontmatter.Type }}">{{ .Post.Frontmatter.Type }}</a>
        </div>
        <div class="post-content">
            {{ .Post.Content }}
        </div>
        <p></p>
    </body>
</html>
